<div id="content">

  <h2>The Ten Commandments  </h2>
  <div id="ticker">
    <div>
      <h3>You shall have no other gods before me.</h3>
      <a class="next" href="#">next</a>
    </div>
    <div>
      <h3>You shall make any images to worship.</h3>
      <a class="next" href="#">next</a>
    </div>
    <div>
      <h3>You shall not misuse the name of the Lord your God.</h3>
      <a class="next" href="#">next</a>
    </div>
    <div>
      <h3>Remember the Sabbath day and keep it holy.</h3>
      <a class="next" href="#">next</a>
    </div>
    <div>
      <h3>Honor your father and your mother.</h3>
      <a class="next" href="#">next</a>
    </div>
    <div>
      <h3>You shall not murder.</h3>
      <a class="next" href="#">next</a>
    </div>
    <div>
      <h3>You shall not commit adultery.</h3>
      <a class="next" href="#">next</a>
    </div>
    <div>
      <h3>You shall not steal.</h3>
      <a class="next" href="#">next</a>
    </div>
    <div>
      <h3>You shall give false testimony against your neighbor.</h3>
      <a class="next" href="#">next</a>
    </div>
    <div>
      <h3>You shall not covent your neighbor's house, wife or other belongings.</h3>
      <a class="next" href="#">next</a>
    </div>
  </div>
  
  <!-- 
  <h3>Events</h3>
  <dl class="events">
    <dt><a HREF="../..//index.htm" class="play">play</a></dt><dd>plays from the next item. You can also define the item to play.</dd>
    <dt><a HREF="../..//index.htm" class="stop">stop</a></dt><dd>stops tickering at the end of the current item.</dd>
    <dt><a href="#" class="slowdown">control</a></dt><dd>accesses controls like rate.  Ooops, <a href="#" class="speedup">Speed it up again.</a> Or <a class="style" href="#">cursor element</a>.</dd>
  </dl>
  -->
</div>
